/* Roboto Font */
@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap');

::-webkit-scrollbar { display: none;}

body {
  font-family: 'Roboto' ;
  font-size: 1.5em;
  padding: .7em 3em;
  background: #000022;
  height: 100%; 
  letter-spacing: .0.25rem;
  text-align: center;
  color: #E28413;
  /* footer */
  position: relative;
  padding-bottom: 50px;
 
}
Header h1 {
  text-align: center;
}
nav a{
  text-decoration: none;
}
.navbar{
list-style: none;
margin: 1rem auto;
}
.main-nav li{
  list-style: none;
  margin: 1rem auto;
  }

  Footer {
    text-align: center;
    font-style: italic;
    background: #E28413;
    color: #000022;
    Padding: 10px;
    position: fixed;
    padding: 10px 10px 0px 10px;
    bottom: 0;
    Right:0;
    Left:0;
    
    /* Height of the footer*/
    height: 40px;

  }