/* Roboto Font */
@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap');

body {
  font-family: 'Roboto' ;
  font-size: 2em;
  padding: .5em 3em;
  background: lightblue;
  font-weight:bold;
  height: 100%;
  letter-spacing: .0.25rem;}